@using Whitees.Data

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <img src="~/assets/img/logo.png" width="150px">
        @* <a class="navbar-brand text-success logo h1 align-self-center" href="@Url.Action("Index","Home")">
        WhiTees
        </a> *@

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-start mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Shirt")">Shop</a>
                    </li>


                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 pr-3">
                    <form class="input-group" asp-action="Index" asp-controller="Shirt">
                        <input type="text" name="searchString" class="form-control" id="inputMobileSearch"
                            placeholder="Search ...">
                        <div class="input-group-text">
                            <button type="submit" style="outline: none; border:none;"><i
                                    class="fa fa-fw fa-search"></i></button>
                        </div>
                    </form>
                </div>


                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>

                <div class="dropdown">
                    <a class="btn btn-outline dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>

                    </a>
                    <ul class="dropdown-menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a class="dropdown-item" href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            @if (User.IsInRole(UserRoles.Admin))
                            {
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Users","Account")">
                                        Users
                                    </a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index","Order")">
                                    Orders
                                </a>
                            </li>
                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="Logout">
                                    <button class="dropdown-item" style="border: none; outline: none;"
                                        type="submit">Logout</button>
                                </form>
                            </li>

                        }
                        else
                        {

                            <li>
                                <a class="dropdown-item" href="@Url.Action("Register","Account")">Register</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Login","Account")">Login</a>
                            </li>

                        }
                    </ul>
                </div>

                @* SHOPPING CART*@
                @await Component.InvokeAsync("ShoppingCartSummary")
                @* <a class="nav-icon position-relative text-decoration-none" href="#">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                <span
                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light
                text-dark">+99</span>
                </a> *@


            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->