@using Whitees.Data

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="@Url.Action("Index","Home")">
            WhiTees
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-start mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Shirt")">Shop</a>
                    </li>

                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <form class="input-group" asp-action="Index" asp-controller="Shirt">
                        <input type="text" name="searchString" class="form-control" id="inputMobileSearch"
                            placeholder="Search ...">
                        <div class="input-group-text">
                            <button type="submit"><i class="fa fa-fw fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>


                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown">
                        <a class="btn btn-outline dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Hello @User.Identity.Name
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index","Dashboard")">Dashboard</a></li>
                            @if (User.IsInRole(UserRoles.Admin))
                            {
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Users","Account")">
                                        Users
                                    </a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index","Order")">
                                    Orders
                                </a>
                            </li>
                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="Logout">
                                    <button class="dropdown-item" style="border: none; outline: none;"
                                        type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="nav-icon position-relative text-decoration-none" asp-area="" asp-controller="Account"
                        asp-action="Register">
                        Register
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" asp-area="" asp-controller="Account"
                        asp-action="Login">
                        Login
                    </a>

                }
            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->