@using Whitees.Data
@using Whitees.Models
@using cloudscribe.Pagination.Models
@model PagedResult<Shirt>
@{
    ViewData["Title"] = "Shirt List Page";
    ViewData["Controller"] = "Shirt";
    ViewData["Action"] = "Index";
}



<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <partial name="_CategoriesPartial" />

        <div class="col-lg-9">
            <div class="row">

                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        @await Html.PartialAsync("_FilterButtonsPartial", "All")
                        @await Html.PartialAsync("_FilterButtonsPartial", "Pizza")
                        @await Html.PartialAsync("_FilterButtonsPartial", "Retro")
                    </ul>
                </div>

            </div>
            <div class="row">
                @foreach (var item in Model.Data)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="@item.Image">
                                <div
                                    class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a class="btn btn-info text-white"
                                                href="@Url.Action("Detail","Shirt", new{id = item.Id})"><i
                                                    class="fa fa-eye"></i></a></li>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                                        {

                                            <li class="list-inline-item">
                                                <a class="btn btn-success text-white" asp-controller="Shirt" asp-action="Edit"
                                                    asp-route-id="@item.Id"><i class="fa fa-edit"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item"><a class="btn btn-danger text-white"
                                                    asp-controller="Shirt" asp-action="Delete" asp-route-id="@item.Id">Delete
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="@Url.Action("Detail","Shirt", new{id = item.Id})"
                                    class="h3 text-decoration-none">@item.Name</a>

                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>

                                <a class="btn btn-success text-white"
                                    href="@Url.Action("AddItemToCart","Order", new{id = item.Id})">
                                    Add to Cart ($@item.Price)</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @* Pagination *@
            <div class="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
                </ul>
            </div>
        </div>
    </div>

</div>
</div>
<!-- End Content -->

<partial name="_Brands" />